span {
  font-weight: bold;
}
button {
  width: 100px;
  height: 80px;
  border-radius: 20px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  left: 200px;
  color: white;
  background-color: grey;
  transition: 0.3s;
}
button:hover {
  color: black;
  background-color: white;
}
