body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  width: 1500px;
  height: 600px;
  background-color: #31b4e7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
input {
  border-radius: 10px;
  height: 25px;
  font-size: 15px;
}
button {
  color: white;
  background-color: blue;
  border-radius: 10px;
  font-weight: bold;
  width: 60px;
  height: 40px;
  -webkit-box-shadow: 10px 10px 46px 0px rgba(255, 255, 255, 0.75);
}
button:hover {
  transition: 0.4s;
  background-color: red;
  -webkit-box-shadow: 10px 10px 46px 0px rgba(255, 0, 0, 0.75);
}
#first {
  font-size: 30px;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#num {
  width: 250px;
  height: 30px;
  font-size: 20px;
}
#second {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 600px;
}
#t {
  display: none;
  align-items: center;
  justify-content: center;
}
thead {
  color: white;
  background-color: black;
  border: solid;
}
table {
  border-collapse: collapse;
  border: solid;
  position: absolute;
  top: 150px;
}

tbody {
  color: white;
  background-color: blueviolet;
}
th {
  border: solid;
  font-size: 12px;
  text-decoration: underline;
}
td {
  border: solid;
  padding-left: 3px;
  padding-right: 3px;
}

label {
  color: white;
  border: solid;
  border-radius: 20px;
  padding: 10px;
  background-color: blueviolet;
}
